
@{
    ViewBag.Title = "SendEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendEmail</h2>

<div class="container mt-5 text-center">
    <h2>Prueba de envío de correo</h2>

    <p>Presiona el botón para enviar un correo de prueba:</p>

    @using (Html.BeginForm("EnviarEmail", "Email", FormMethod.Post))
    {
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-envelope"></i> Enviar Correo
        </button>
    }

    <br /><br />
    <p class="text-success">@ViewBag.Message</p>
</div>